@import "tailwindcss";
body{
    background-color:black;
        overflow-x: hidden;
}
@keyframes loopWords {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-loop-words {
  animation: loopWords 12000ms  linear infinite;
}
/* index.css أو أي ملف CSS عام */
@keyframes marquee-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-right {
  animation: marquee-right 20s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 20s linear infinite;
}
